* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
}
@media (min-width: 768px) {
  main {
    padding-top: 107px;
  }
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: "ff-tisa-web-pro", Palatino, Georgia, serif;
  font-weight: 400;
  margin: 0;
  line-height: 1.2em;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
h2.section-header {
  font-size: 1.2rem;
  position: relative;
  z-index: 0;
}
h2.section-header .h2 {
  display: inline-block;
  padding: 3px 0 4px 10px;
  font-size: 1.5rem;
}
h2.section-header .border1,
h2.section-header .border2 {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 1px;
  border-bottom: 1px solid #333;
}
h2.section-header .border1 {
  width: 83%;
}
h2.section-header .border2 {
  top: 100%;
  width: 50%;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}
p {
  margin: 0 0 10px;
  font-size: 1rem;
  line-height: 1.3em;
}
ul,
li {
  padding: 0;
  margin: 0;
}
li {
  display: inline-block;
}
a {
  color: #333;
  text-decoration: none;
}
section {
  position: relative;
  padding: 30px 5% 30px;
  background-color: #FAFAFA;
}
.wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.icon-list:after {
  content: '';
  display: table;
  clear: both;
}
.icon-list li {
  float: left;
  width: 50%;
  min-height: 110px;
  margin-bottom: 30px;
  padding: 0 10px;
  text-align: center;
}
.icon-list li .icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: #333;
  border-radius: 50%;
  border: 2px solid #333;
}
.icon-list li .icon.badge {
  border-radius: 0;
  background-color: transparent;
  border: none;
}
.icon-list li .icon.number {
  line-height: 1.1em;
  color: #FAFAFA;
}
.icon-list li h4 {
  margin-bottom: 3px;
  line-height: 1.2em;
}
.icon-list li p {
  margin-bottom: 0;
}
@media (min-width: 1024px) {
  .icon-list li {
    width: 33.333%;
  }
}
button {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 8px 15px 7px;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1em;
  letter-spacing: 1px;
  background-color: #333;
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
button:hover {
  background-color: #FFF;
  color: #333;
}
.topBar {
  position: fixed;
  z-index: 10;
  max-height: 60px;
  width: 100%;
  padding: 0;
  overflow: hidden;
  text-align: left;
  background-color: #FFF;
  box-shadow: 0 0 15px #444;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.topBar.open {
  max-height: 170px;
}
@media (min-width: 768px) {
  .topBar {
    height: auto;
    text-align: center;
    max-height: none;
  }
}
.topBar h1 {
  display: inline-block;
  margin: 0;
  padding: 0 30px 5px;
  color: #333;
  font-size: 2.0rem;
  line-height: 1.7em;
}
@media (min-width: 768px) {
  .topBar h1 {
    font-size: 3rem;
    line-height: 1em;
    border-bottom: 1px solid #333;
  }
}
.topBar h2 {
  display: inline-block;
  margin: 0;
}
.topBar .mobileMenuButton {
  position: absolute;
  top: 18px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  /*background-color: @black;*/
}
@media (min-width: 768px) {
  .topBar .mobileMenuButton {
    display: none;
  }
  .topBar .mobileMenuButton:hover .bar1,
  .topBar .mobileMenuButton:hover .bar2,
  .topBar .mobileMenuButton:hover .bar3 {
    background-color: #3d7859;
  }
}
.topBar .mobileMenuButton:active .bar1,
.topBar .mobileMenuButton:active .bar2,
.topBar .mobileMenuButton:active .bar3 {
  background-color: #3d7859;
}
.topBar .mobileMenuButton .bar1,
.topBar .mobileMenuButton .bar2,
.topBar .mobileMenuButton .bar3 {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #8E2800;
  border-radius: 3px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.topBar .mobileMenuButton .bar1 {
  left: 0;
  top: 0;
}
.topBar .mobileMenuButton .bar2 {
  left: 0;
  top: 27%;
}
.topBar .mobileMenuButton .bar3 {
  left: 0;
  top: 58%;
}
.topBar .mobileMenuButton.open .bar1 {
  left: 17%;
  top: 40%;
  width: 69%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.topBar .mobileMenuButton.open .bar2 {
  left: 9%;
  top: 20%;
  width: 50%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.topBar .mobileMenuButton.open .bar3 {
  left: 42%;
  top: 20%;
  width: 50%;
  -webkit-transform: rotate(405deg);
  transform: rotate(405deg);
}
.topBar ul.mainNav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}
@media (min-width: 768px) {
  .topBar ul.mainNav {
    display: inline-block;
  }
}
.topBar ul.mainNav li {
  display: inline-block;
  margin: 0;
  height: 100%;
  border-bottom: 3px solid transparent;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.topBar ul.mainNav li:hover,
.topBar ul.mainNav li.active {
  border-bottom: 2px solid #3d7859;
}
.topBar ul.mainNav li:hover a,
.topBar ul.mainNav li.active a {
  color: #333;
}
.topBar ul.mainNav li a {
  display: block;
  padding: 10px 20px 8px;
  font-size: 1.5em;
  line-height: 1em;
  color: #666666;
  text-decoration: none;
}
.topBar ul.mainNav li a:hover {
  text-decoration: none;
  color: #333;
}
.section-hero {
  min-height: 100vh;
  padding: 40vh 30px 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 15px #333;
}
.section-hero.first {
  background-image: url(/img/LakeMich5.jpg);
}
.section-hero.second {
  background-image: url(/img/MickeysBeach2.jpg);
}
.section-hero .hero-text {
  display: inline-block;
  max-width: 400px;
  color: #FFF;
}
.section-hero .hero-text h1 {
  display: inline-block;
  padding: 0 8px;
  margin: 0;
  font-size: 1.8rem;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
}
@media (min-width: 768px) {
  .section-hero {
    min-height: 0;
    padding: 120px 50px;
  }
}
.section-about .section-header .border2 {
  width: 60%;
}
.section-work {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5px;
  background-color: #ccc;
}
.section-work .section-header .h2 {
  display: inline-block;
  padding-left: 30px;
}
.section-work .section-header .border1,
.section-work .section-header .border2 {
  left: 20px;
}
.section-work .grid-cont .box-frame {
  position: relative;
  width: 100%;
  height: 130px;
  overflow: hidden;
  margin-bottom: 15px;
  cursor: pointer;
}
.section-work .grid-cont .box-frame.red {
  background-color: #8E2800;
}
.section-work .grid-cont .box-frame.orange {
  background-color: #FFB038;
}
.section-work .grid-cont .box-frame.green {
  background-color: #3d7859;
}
.section-work .grid-cont .box-frame.darkgreen {
  background-color: #351;
}
.section-work .grid-cont .box-frame .hover-slide {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.section-work .grid-cont .box-frame .hover-slide .hover-slide-copy {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0 30px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.section-work .grid-cont .box-frame .hover-slide h3 {
  margin: 0 0 3px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #FAFAFA;
  letter-spacing: 1px;
}
.section-work .grid-cont .box-frame .hover-slide .work-type {
  color: #FAFAFA;
  text-transform: uppercase;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  font-size: 1.0rem;
  letter-spacing: 1px;
  display: inline-block;
  border-bottom: 1px solid #ccc;
  padding: 0 15px 3px;
}
.section-work .grid-cont .box-frame .hover-slide .work-note {
  color: #ccc;
  font-size: 0.8rem;
  margin: 5px 0 0;
}
.section-work .grid-cont .box-frame .hover-slide a {
  color: #ccc;
  text-decoration: underline;
}
.section-work .grid-cont .box-frame .hover-slide a:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  .section-work .grid-cont .box-frame:hover .hover-slide {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
.section-contact {
  background-color: #333;
  color: #FAFAFA;
}
.section-contact .section-header .border1,
.section-contact .section-header .border2 {
  border-bottom-color: #FAFAFA;
}
.section-contact form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.section-contact form label {
  display: block;
  width: 100%;
  margin: 0 0 15px;
  padding: 0;
}
.section-contact form input[type="text"],
.section-contact form input[type="email"],
.section-contact form textarea {
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px 15px 7px;
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: 2px;
}
.section-contact form input[type="text"]:focus,
.section-contact form input[type="email"]:focus,
.section-contact form textarea:focus {
  outline: none;
  border-color: #FFB038;
}
