
// General Styles
//------------------------




// Navigation
//------------------------

.topBar {
	position: fixed;
	height: 60px;
	overflow: hidden;
	z-index: 10;
	width: 100%;
	padding: 10px 0;
	background-color: @topBack;
	text-align: center;
	box-shadow: 0 1px 20px @shadowColor;

	-webkit-transition: all 0.5s;
	transition: all 0.5s;

	&.open {
		height: auto;
	}

	@media (min-width:768px) {
		height: auto;
	}

	h1 {
		display: inline-block;
		margin: 0;
		padding: 0 40px 5px;
		color: @topText;
		font-variant: small-caps;
		font-size: 2.0rem;
		border-bottom: 1px solid @topText;

		@media (min-width:768px) {
			margin: 0 0 10px;
			font-size: 3rem;
		}
	}
	h2 {
		display: inline-block;
		margin: 0;
	}
	.mobileMenuButton {
		position: absolute;
		top: 18px;
		right: 20px;
		width: 40px;
		height: 40px;
		border-radius: 10px;
		/*background-color: @black;*/

		@media (min-width: 768px) {
			display: none;
		}

		&:hover {
			.bar1,
			.bar2,
			.bar3 {
				background-color: @green;
			}
		}

		.bar1,
		.bar2,
		.bar3 {
			position: absolute;
			width: 100%;
			height: 4px;
			background-color: @red;
			border-radius: 3px;
			opacity: 1;
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);

			-webkit-transition: all 1s;
			transition: all 1s;
		}
		.bar1 {
			left: 0;
			top: 0;
		}
		.bar2 {
			left: 0;
			top: 27%;
		}
		.bar3 {
			left: 0;
			top: 58%;
		}

		&.open {
			.bar1 {
				left: 17%;
				top: 40%;
				width: 69%;
				-webkit-transform: rotate(90deg);
				transform: rotate(90deg);
			}
			.bar2 {
				left: 9%;
				top: 20%;
				width: 50%;
				-webkit-transform: rotate(135deg);
				transform: rotate(135deg);
			}
			.bar3 {
				left: 42%;
				top: 20%;
				width: 50%;
				-webkit-transform: rotate(405deg);
				transform: rotate(405deg);
			}


		}
	}
	ul.mainNav {
		list-style: none;
		margin: 0;
		padding: 0;

		float: none;
		display: inline-block;
		width: 100%;
		text-align: center;

		-webkit-transition: 1s all;
		transition: 1s all;

		/*&.show {
			max-height: 200px;
			opacity: 1;
		}*/

		@media (min-width:768px) {
			display: inline-block;
		}

		li {
			display: inline-block;
			height: 100%;
			border-bottom: 3px solid transparent;

			-webkit-transition: 0.5s all;
			transition: 0.5s all;

			&:hover,
			&.active {
				border-bottom: 2px solid @green;

				a {
					color: @topText;
				}
			}

			a {
				display: block;
				padding: 10px 20px 8px;
				font-size: 1.5em;
				color: lighten(@topText, 20%);
				text-transform: uppercase;
				text-decoration: none;

				&:hover {
					text-decoration: none;
					color: @topText;
				}
			}
		}
	}
}