
// Variables 
// --------------

//// FONTS ////
@bodyFonts:	"brandon-grotesque", Helvetica, Arial, sans-serif; 
@headerFonts: 	"ff-tisa-web-pro", Palatino, Georgia, serif; 
@baseFontSize: 	16px;


//// COLORS ////
@black:		    #000;
@grey:		    #333;
@lightGrey:	  	#999;
@lighterGrey:   #ccc;
@offWhite: 		#FAFAFA;
@white: 		#FFF;


// New Color Palate
@green:			  	darken(#468966, 5%);
@darkGreen: 		#351;
@tan:				#FFF0A5;
@orange: 			#FFB038;
@lightRed: 			#B64926;
@red: 				#8E2800;

@hero-copy-back: 	rgba(0,0,0, 0.3);

// Assignments
@shadowColor: 	#444;
@textColor:		@grey;
@topText:		@grey;
@topBack:		@white;
@bodyHeads:		@lightRed;



// Mixins
//---------------------------

.transition (@time: 0.3s) {
	-webkit-transition: all @time;
	transition: all @time;
}