$icomoon-font-path: "fonts" !default;

$icon-uniF095: "\f095";
$icon-uniF09B: "\f09b";
$icon-uniF13B: "\f13b";
$icon-uniF13C: "\f13c";
$icon-uniF1D8: "\f1d8";
$icon-instagram: "\e900";
$icon-twitter: "\e901";
$icon-linkedin2: "\e902";
$icon-git: "\e903";
$icon-codepen: "\e904";

