
// General Styles
//------------------------

* {
	box-sizing: border-box;
}
html,
body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-size: @baseFontSize;
	font-family: @bodyFonts;
}
main {
	@media (min-width: 768px) {
		padding-top: 107px;
	}
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
	font-family: @headerFonts;
	font-weight: 400;
	margin: 0;
	line-height: 1.2em;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 2px;
	margin-bottom: 30px;

	&.section-header {
		font-size: 1.2rem;
		position: relative;
		z-index: 0;

		.h2 {
			display: inline-block;
			padding: 3px 0 4px 10px;
			font-size: 1.5rem;
			// background-color: @offWhite;
		}

		.border1,
		.border2 {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			height: 1px;
			border-bottom: 1px solid @grey;
		}

		.border1 {
			width: 83%;
		}
		.border2 {
			top: 100%;
			width: 50%;
		}

	}
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.2rem;
}
p {
	margin: 0 0 10px;
	font-size: 1rem;
	line-height: 1.3em;
}
ul,
li {
	padding: 0;
	margin: 0;
}
li {
	display: inline-block;
}
a {
	color: @textColor;
	text-decoration: none;
}
section {
	position: relative;
	padding: 30px 5% 30px;
	background-color: @offWhite;
}
.wrapper {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

.icon-list {

	&:after {
		content: '';
		display: table;
		clear: both;
	}
	li {
		float: left;
		width: 50%;
		min-height: 110px;
		margin-bottom: 30px;
		padding: 0 10px;
		text-align: center;

		.icon {
			display: inline-block;
			width: 70px;
			height: 70px;
			background-color: @grey;
			border-radius: 50%;
			border: 2px solid @grey;
			// margin-bottom: 10px;

			&.badge {
				border-radius: 0;
				background-color: transparent;
				border: none;
			}
			&.number {
				line-height: 1.1em;
				color: @offWhite;
			}
		}
		h4 {
			margin-bottom: 3px;
			line-height: 1.2em;
		}
		p {
			margin-bottom: 0;
		}
	}

	@media (min-width: 1024px) {
		li {
			width: 33.333%;
		}
	}
}
button,
.button {
	display: block;
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	padding: 8px 15px 7px;
	text-align: center;

	font-family: @bodyFonts;
	font-size: 1.2rem;
	line-height: 1em;
	letter-spacing: 1px;
	background-color: @grey;
	color: @white;
	border: 2px solid @white;
	border-radius: 1px;
	.transition();

	&:hover {
		background-color: @white;
		color: @grey;
	}
}