// #section-about {
//   right: 100%;
//   top: 0;
//   background-color: $secondary-bg;
//   // color: $color4;

//   &.focus {
//     right: 0;
//   }

//   .section-body {
//     max-width: $container-lg;
//     margin: 0 auto;
    
//     .content {
//       margin-bottom: 70px;

//       h2 {
//         margin-bottom: 30px;
//       }
//       h3 {
//         display: inline-block;
//         margin-bottom: 7px;
//         padding: 0 25px 10px 0;
//         line-height: 1.3em;
//         border-bottom: 1px solid $textColor;
//       }
//       .service {
//         margin-bottom: 40px;
//         text-align: left;
//       }
//     }
//   }
// }