#section-about {
  right: 100%;
  top: 0;
  background-color: $color3;
  color: $color4;

  &.focus {
    right: 0;
  }

  .back-bar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: $color4;
    @include transition(0.5s);
    cursor: pointer;

    h3 {
      margin: 0;
      color: $color3;
      @include transform(rotate(-90deg));
    }

    @media (min-width: $mobile) {
      &:hover {
        background-color: darken($color4, 10%);
      }
    }
  }

  .section-body {
    max-width: $container;
    margin: 0 auto;
    
  }
}