
.contact-items {
  display: inline-block;
  width: 100%;

  .item {
    position: relative;
    display: inline-block;
    height: 70px;
    width: 70px;
    background-color: $white;
    color: $textColor;
    border-radius: 50%;
    @include transition(0.2s);

    &:before {
      @include centerMe();
      font-size: 1.5rem;
    }

    @media (min-width: $mobile) {
      &:hover {
        @include transform( scale(1.03) );
        box-shadow: 0 2px 14px -3px $black;
      }
    }
  } // end .item

  .row-item {
    display: inline-block;
    position: relative;

    &:first-child {
      margin-bottom: 16px;
    }
    
    .item {
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid $green-light;

      &:hover {
        border-color: transparent;
      }
    }
    p {
      margin: 0;
      padding: 20px 20px 20px 80px;
      background-color: $white;
      border-radius: 50px;
    }

    @media (min-width: $mobile) {
      &:first-child {
        margin-bottom: 0;
        margin-right: 16px;
      }

      p {
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  .button-row {
    margin-bottom: 24px;

    .item {
      margin: 0 0 0 12px;

      &:first-child {
        margin: 0;
      }
    }
  }

}