
// General Styles
//------------------------
* {
	box-sizing: border-box;
}
:focus {
	outline: none;
}
::selection {
  background-color: $green-light;
  color: $textColor;
}

html,
body {
  padding: 0;
  margin: 0;
}
html {
  font-family: $body-fonts;
  font-size: $base-font-size;
	color: $textColor;
}
body {
  position: relative;
	text-align: center;
  background-color: $green-light;
  background: linear-gradient(30deg, $green, $green-light);

  @media (min-width: $mobile) {
    height: 100vh;
    overflow: hidden;
  }
}

.content-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: $container-lg;
  margin: 0 auto;
  overflow: hidden;
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;

  .portfolio-column {
    display: inline-block;
    width: 50%;
    max-height: 100%;
    overflow-y: auto;
    padding-right: 20px;
  }

  .name-column {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 100%;
  }

  .about-column {
    position: absolute;
    left: 100%;
    top: 0;
    display: inline-block;
    width: 50%;
    height: 100%;
    overflow-y: auto;
    padding-left: 20px;
  }
}

.portfolio-item {
  background-color: $white;
  margin-bottom: 24px;
  padding: 20px;
  text-align: center;
}


// .side-section {
	// position: absolute;
 //  width: 100%;
 //  height: 100vh;
 //  overflow-y: auto;
 //  @include transition(0.6s, 0s, $curve2);

  // .section-body {
  // 	padding: 50px 20px;
  // }
  // header {
  // 	display: block;
  // 	max-width: 800px;
  // 	margin: 0 auto 40px;
  // 	padding: 0 20px 10px;
  //   text-align: center;
  //   // border-bottom: 1px solid $textColor;

  // 	h1 {
  //     position: relative;
  //     display: inline-block;
  // 		margin: 0;

  //     &:before,
  //     &:after {
  //       content: '';
  //       position: absolute;
  //       top: 55%;
  //       display: inline-block;
  //       height: 2px;
  //       width: 60px;
  //       background-color: $textColor;
  //     }
  //     &:before {
  //       right: 105%;
  //     }
  //     &:after {
  //       left: 105%;
  //     }
  // 	}
  // }

//   @media (min-width: $mobile) {
//     position: absolute;
//     width: 100%;
//     height: 100vh;
//     overflow-x: hidden;
//     overflow-y: auto;
//     @include transition(0.6s, 0s, $curve2);

//     .section-body {
//       padding: 50px 0;
//     }
//     header {
//       margin-bottom: 50px;
//     }
//   }
// }


// Utilities
.close-icon {
	position: absolute;
	top: 30px;
	right: 30px;
	display: inline-block;
	height: 45px;
	width: 45px;
	@include transition(0.5s);
	@include transform( rotate(45deg) );
	cursor: pointer;

	.line {
		display: inline-block;
		width: 100%;
		height: 2px;
		background-color: $textColor;
		@include centerMe();

		&.line-y {
			@include transform( translate(-50%, -50%) rotate(90deg) );
		}
	}

	@media (min-width: $mobile) {
		&:hover {
			@include transform( rotate(-45deg) );
		}
	}
}
.to-top-btn {
  position: fixed;
  z-index: 2;
  display: inline-block;
  top: 10px;
  left: -100px;
  padding: 17px;
  background-color: $white;
  border-radius: 50%;
  box-shadow: $box-shadow;
  @include transition();

  &.show {
    left: 10px;
  }

  .arrow-box {
    width: 25px;
    height: 25px;
    border-left: 2px solid $primary-accent;
    border-top: 2px solid $primary-accent;
    @include transform( translateY(6px) rotate(45deg) );
  }

  @media (min-width: $mobile) {
    display: none;
  }
}


// Forms
button,
.button {
  display: inline-block;
  border: none;
  border-radius: 0;
  background-color: transparent;
  text-decoration: none;

  padding: 13px 25px;
  font-size: 1rem;
  line-height: 1em;
  font-family: $header-fonts;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: color 0.5s, background-color 0.7s;
  transition: color 0.5s, background-color 0.7s;
  border-width: 1px;
  border-style: solid;
	  
  &:focus {
    outline: none;
  }
  
	&.orange {
		border-color: $orange;
	  color: $orange;

	  &:hover {
	    background-color: $orange;
	    color: $textColor;
	  }
	}
  &.blue {
    border-color: $blue;
    color: $blue;
    
    &:hover {
      background-color: $blue;
      color: $textColor;
    }
  }
  &.white {
    border-color: $white;
    color: $white;
    
    &:hover {
      background-color: $white;
      color: $grey;
    }
  }
}
.input {
  label {
    display: block;
    width: 100%;
    max-width: 300px;
    
    .label {
      display: block;
      width: 100%;
      margin-bottom: 8px;
    }
    input {
      width: 100%;
      padding: 10px 15px 8px;
      background-color: transparent;
      border: 1px solid $textColor;
      border-radius: 2px;
      transition: all 0.5s;
      
      &:focus {
        outline: none;
        border-color: $green-light;
      }
    }
  }
}