
// General Styles
//------------------------
* {
	box-sizing: border-box;
}
:focus {
	outline: none;
}
html,
body {
  padding: 0;
  margin: 0;
}
html {
  font-family: $body-fonts;
  font-size: $base-font-size;
	color: $textColor;
}
body {
	position: relative;
	text-align: center;
  background-color: $color3;
  overflow: hidden;
}
.side-section {
	position: absolute;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  @include transition(0.8s, 0s, $curve2);

	.back-bar {
		padding: 20px;
	}
  .section-body {
  	padding: 30px 20px;
	  min-height: 100vh;
  }
  header {
  	display: block;
  	max-width: 600px;
  	margin: 0 auto 100px;
  	padding: 0 20px 20px;
  	border-bottom: 1px solid $color3;

  	h1 {
  		margin: 0;
  	}
  }
}


// Typography
h1,
h2,
h3,
h4 {
  line-height: 1em;
  margin: 0 0 20px;
  font-family: $header-fonts;
}
h1,
h2 {
  font-family: $header-fonts;
  font-weight: 300;
}
h3,
h4 {
  font-family: $body-fonts;
  font-weight: 400;
}
h1 {
	font-size: 4rem;
	
	span.closer {
		letter-spacing: -10px;
	}
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}
h4 {
  font-size: 1.3rem;
  letter-spacing: 1px;
}

a {
	color: $textColor;
	text-decoration: none;
	@include transition();

	&:visited {
		color: $textColor;
	}
}



// Forms
button,
.button {
  display: inline-block;
  border: none;
  border-radius: 0;
  background-color: transparent;

  padding: 10px 15px;
  font-size: 1rem;
  line-height: 1em;
  font-family: $header-fonts;
  font-weight: 600;
  // border-radius: 50%/9px;
  cursor: pointer;
  -webkit-transition: color 0.5s, background-color 0.7s;
  transition: color 0.5s, background-color 0.7s;
  border-width: 1px;
  border-style: solid;
  
  &:focus {
    outline: none;
  }
  
  &.blue {
    border-color: $color1;
    color: $color1;
    
    &:hover {
      background-color: $color1;
      color: $color3;
    }
  }
  &.brown {
    border-color: $color4;
    color: $color4;
    
    &:hover {
      background-color: $color4;
      color: $color3;
    }
  }
  &.red {
    border-color: $color5;
    color: $color5;
    
    &:hover {
      background-color: $color5;
      color: $color3;
    }
  }
  &.white {
    border-color: $color3;
    color: $color3;
    
    &:hover {
      background-color: $color3;
      color: $color5;
    }
  }
}
.input {
  label {
    display: block;
    width: 100%;
    max-width: 300px;
    
    .label {
      display: block;
      width: 100%;
      margin-bottom: 8px;
    }
    input {
      width: 100%;
      padding: 10px 15px 8px;
      background-color: transparent;
      border: 1px solid $color5;
      border-radius: 2px;
      transition: all 0.5s;
      
      &:focus {
        outline: none;
        border-color: $color1;
      }
    }
  }
}