
// General Styles
//------------------------
* {
	box-sizing: border-box;
}
:focus {
	outline: none;
}
::selection {
  background-color: $green-light;
  color: $textColor;
}
html,
body {
  padding: 0;
  margin: 0;
}
html {
  font-family: $body-fonts;
  font-size: $base-font-size;
	color: $textColor;
}
body {
  position: relative;
	text-align: center;
  background-color: $main-bg;

  @media (min-width: $mobile) {
    height: 100vh;
    overflow: hidden;
  }
}
.side-section {
	// position: absolute;
 //  width: 100%;
 //  height: 100vh;
 //  overflow-y: auto;
 //  @include transition(0.6s, 0s, $curve2);

  .section-body {
  	padding: 80px 20px;
  }
  header {
  	display: block;
  	max-width: 800px;
  	margin: 0 auto 20px;
  	padding: 0 20px 10px;
    // border-bottom: 1px solid $textColor;

  	h1 {
  		margin: 0;
  	}
  }

  @media (min-width: $mobile) {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    @include transition(0.6s, 0s, $curve2);
  }
}


// Utilities
.close-icon {
	position: absolute;
	top: 30px;
	right: 30px;
	display: inline-block;
	height: 45px;
	width: 45px;
	@include transition(0.5s);
	@include transform( rotate(45deg) );
	cursor: pointer;

	.line {
		display: inline-block;
		width: 100%;
		height: 1px;
		background-color: $textColor;
		@include centerMe();

		&.line-y {
			@include transform( translate(-50%, -50%) rotate(90deg) );
		}
	}

	@media (min-width: $mobile) {
		&:hover {
			@include transform( rotate(-45deg) );
		}
	}
}


// Forms
button,
.button {
  display: inline-block;
  border: none;
  border-radius: 0;
  background-color: transparent;
  text-decoration: none;

  padding: 13px 25px;
  font-size: 1rem;
  line-height: 1em;
  font-family: $header-fonts;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: color 0.5s, background-color 0.7s;
  transition: color 0.5s, background-color 0.7s;
  border-width: 1px;
  border-style: solid;
	  
  &:focus {
    outline: none;
  }
  
	&.orange {
		border-color: $orange;
	  color: $orange;

	  &:hover {
	    background-color: $orange;
	    color: $textColor;
	  }
	}
  &.blue {
    border-color: $blue;
    color: $blue;
    
    &:hover {
      background-color: $blue;
      color: $textColor;
    }
  }
  &.white {
    border-color: $white;
    color: $white;
    
    &:hover {
      background-color: $white;
      color: $grey;
    }
  }
}
.input {
  label {
    display: block;
    width: 100%;
    max-width: 300px;
    
    .label {
      display: block;
      width: 100%;
      margin-bottom: 8px;
    }
    input {
      width: 100%;
      padding: 10px 15px 8px;
      background-color: transparent;
      border: 1px solid $textColor;
      border-radius: 2px;
      transition: all 0.5s;
      
      &:focus {
        outline: none;
        border-color: $green-lighter;
      }
    }
  }
}