
// General Styles
//------------------------
* {
	box-sizing: border-box;
}
:focus {
	outline: none;
}
::selection {
  background-color: $green-light;
  color: $textColor;
}

html,
body {
  padding: 0;
  margin: 0;
}
html {
  font-family: $body-fonts;
  font-size: $base-font-size;
	color: $textColor;
}
body {
  position: relative;
	text-align: center;
  background-color: $green-light;
  background: linear-gradient(30deg, $green, $green-light);

  @media (min-width: $mobile) {
    height: 100vh;
    overflow: hidden;
  }
}


// Layout
//-------------

.content-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: $container-lg;
  margin: 0 auto;
  overflow: hidden;
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  @include transition(1.1s);

  &.right {
    left: -50%;

    .portfolio-column {
      opacity: 0;
    }
    .name-column {
      // text-align: left;

      nav {
        .arrow-button {
          transition-delay: 1s, 0s;

          &.projects {
            float: left;
            left: 0;
          }
          &.about {
            float: right;
            right: -120px;
          }
        }
      }
    }
    .about-column {
      opacity: 1;
    }
  }

  .portfolio-column {
    display: inline-block;
    width: 50%;
    max-height: 100vh;
    overflow-y: auto;
    padding: 130px 20px 0;
    transition: opacity 0.5s;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

    &::-webkit-scrollbar {
      display: none;
    }

    h3 {
      text-align: left;
    }
    .portfolio-item {
      display: block;
      background-color: $white;
      margin-bottom: 24px;
      padding: 40px 20px;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      @include transition(0.3s);

      h2 {
        color: $textColor;
      }

      @media (min-width: $mobile) {
        &:hover {
          @include transform( scale(1.01) );
          box-shadow: 0 2px 14px -3px $black;
        }
      }
    }
  }

  .name-column {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 60px 20px 40px 0;
    text-align: right;

    h1 {
      line-height: 0.8em;
      margin-bottom: 62px;
    }
    
    nav {
      position: relative;

      &:after {
        content: '';
        display: block;
        clear: both;
      }

      .arrow-button {
        position: relative;
        transition: left 0.3s, right 0.3s;
        transition-delay: 0s, 1s;
        
        &.projects {
          float: left;
          left: -120px;
        }
        &.about {
          float: right;
          right: 0;
        }
      }
    }

    .arrow-button {
      margin-bottom: 62px;
    }
  }

  .about-column {
    position: absolute;
    left: 100%;
    top: 0;
    display: inline-block;
    width: 50%;
    height: 100%;
    overflow-y: auto;
    padding: 130px 0 40px 20px;
    text-align: left;

    opacity: 0;
    transition: opacity 0.5s;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

    &::-webkit-scrollbar {
      display: none;
    }

    .button-container {
      margin: 32px 0 64px;
      text-align: center;
    }
    .service {
      margin-bottom: 20px;

      h4 {
        margin-bottom: 4px;
      }
    }
  }
}


// Utilities
//-------------

.close-icon {
	position: absolute;
	top: 30px;
	right: 30px;
	display: inline-block;
	height: 45px;
	width: 45px;
	@include transition(0.5s);
	@include transform( rotate(45deg) );
	cursor: pointer;

	.line {
		display: inline-block;
		width: 100%;
		height: 2px;
		background-color: $textColor;
		@include centerMe();

		&.line-y {
			@include transform( translate(-50%, -50%) rotate(90deg) );
		}
	}

	@media (min-width: $mobile) {
		&:hover {
			@include transform( rotate(-45deg) );
		}
	}
}
.to-top-btn {
  position: fixed;
  z-index: 2;
  display: inline-block;
  top: 10px;
  left: -100px;
  padding: 17px;
  background-color: $white;
  border-radius: 50%;
  box-shadow: $box-shadow;
  @include transition();

  &.show {
    left: 10px;
  }

  .arrow-box {
    width: 25px;
    height: 25px;
    border-left: 2px solid $textColor;
    border-top: 2px solid $textColor;
    @include transform( translateY(6px) rotate(45deg) );
  }

  @media (min-width: $mobile) {
    display: none;
  }
}


// Forms
//-------------

button,
.button {
  display: inline-block;
  border: none;
  border-radius: 0;
  background-color: transparent;
  text-decoration: none;
  padding: 0;
  cursor: pointer;

  @extend h3;
  font-size: 1rem;
  line-height: 1em;
  font-family: $header-fonts;

  &:focus {
    outline: none;
  }

  &.white {
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    background-color: $white;
    color: $textColor;
  }

  &.arrow-button {
    @include transition();

    img {
      display: block;
      height: 16px;
    }

    &.right {
      text-align: right;
      
      img {
        margin-top: 4px;
        margin-left: auto;
      }
    }
    &.left {
      text-align: left;
      
      img {
        margin-top: 4px;
        margin-right: auto;
        @include transform( rotate(180deg) );
      }
    }
  }

}

.input {
  label {
    display: block;
    width: 100%;
    max-width: 300px;
    
    .label {
      display: block;
      width: 100%;
      margin-bottom: 8px;
    }
    input {
      width: 100%;
      padding: 10px 15px 8px;
      background-color: transparent;
      border: 1px solid $textColor;
      border-radius: 2px;
      transition: all 0.5s;
      
      &:focus {
        outline: none;
        border-color: $green-light;
      }
    }
  }
}