
.portfolio-column {
  flex: 0 0 100%;
  order: 2;
  padding: 50px 0;

  @media (min-width: $mobile) {
    display: inline-block;
    width: 50%;
    max-height: 100vh;
    overflow-y: auto;
    padding: 130px 20px 0;
    transition: opacity 0.5s;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  h3 {
    text-align: left;
  }
}


.portfolio-item {
  display: block;
  margin-bottom: 24px;
  padding: 40px 20px;
  text-align: center;
  background-color: $white;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  @include transition(0.3s);

  @media (min-width: $mobile) {
    &:hover {
      @include transform( scale(1.01) );
      box-shadow: 0 2px 14px -3px $black;
    }
  }

  h2 {
    color: $textColor;
  }
  
  .close-icon {
    top: -60px;
  }
  .content {
    max-height: 0;
    padding-top: 0;
    padding-left: 12px;
    padding-right: 12px;
    overflow: hidden;
    opacity: 0;

    .copy-content {
      text-align: left;
      margin-bottom: 60px;

      .arrow-button {
        margin-bottom: 44px;
        @extend h4;

        img {
          display: inline-block;
          vertical-align: top;
          margin: 0 0 0 4px;
          height: 14px;
        }
      }
      .feature-list {
        margin-bottom: 60px;
      }
    }
    .image-content {
      img {
        display: block;
        max-width: 100%;
        margin-bottom: 24px;
        border-radius: 3px;
        box-shadow: 1px 1px 4px $grey-light;
      }
      .no-image-message {
        height: 200px;
        padding-top: 77px;
        background-color: #ddd;
        color: $grey-light;
      }
    }

    @media (min-width: $mobile) {
      display: flex;
      padding-left: 24px;
      padding-right: 24px;

      .copy-content {
        margin-bottom: 0;
        flex: 0 0 50%;
      }
      .image-content {
        padding-left: 32px;
        flex: 0 0 50%;
      }
    }
  }

  &.focused-item {
    position: fixed;
    cursor: default;
    margin: 0;
    box-shadow: 0 2px 14px -3px $black;
    transition: height 0.3s, top 0.3s, width 0.3s 0.2s, box-shadow 0.4s 0.2s;

    &:hover {
      transform: none;
      box-shadow: 0 0 200px 200px rgba(0,0,0,0.8);
    }

    &.show {
      overflow-y: auto;

      .close-icon {
        top: 10px;
        transition-delay: 0.6s;

        &:hover {
          transition-delay: 0s;
        }
      }
      .content {
        max-height: none;
        overflow-y: auto;
        opacity: 1;
        padding-top: 44px;
        transition: max-height 0.1s 0.4s, padding 0.1s 0.4s, opacity 0.2s 0.5s;
      }
    }

    &.collapse {
      transition: width 0.3s, box-shadow 0.4s, height 0.3s 0.2s, top 0.3s 0.2s;

      .close-icon {
        top: -60px;
        transition-delay: 0s;
      }
      .content {
        max-height: 0;
        overflow-y: hidden;
        opacity: 0;
        padding-top: 0;
        transition: opacity 0.2s, max-height 0.1s 0.2s, padding 0.1s 0.2s;
      }
    }
  }

}