
// NOTE: Fonts are imported from Google Fonts

// Variables
//---------------
$header-fonts: 'Montserrat', serif;
$body-fonts: 'Lato', arial, sans-serif;

$base-font-size:  20px;


// Styles
//---------------
h1,
h2,
h3,
h4 {
  line-height: 1em;
  margin: 0;
}
h1,
h2 {
  font-family: $header-fonts;
  font-weight: 900;
}
h3,
h4 {
  font-family: $header-fonts;
  font-weight: 400;
}
h1 {
  font-size: 3rem;

  @media (min-width: $mobile) {
    font-size: 7rem;
  }
}
h2 {
  font-size: 2rem;

  @media (min-width: $mobile) {
    font-size: 2.3rem;
  }
}
h3 {
  font-size: 1.2rem;
  text-transform: uppercase;

  &.underline {
    position: relative;
    margin-bottom: 32px;
    padding-bottom: 17px;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      width: 60px;
      height: 2px;
      background-color: $textColor;
    }
  }

  // @media (min-width: $mobile) {
  //   font-size: 1rem;
  // }
}
h4 {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: $grey-light;

  // @media (min-width: $mobile) {
  //   font-size: 1.3rem;
  // }
}

p {
  font-size: 1rem;
  line-height: 1.5em;
  margin: 0 0 15px;
}

a {
  text-decoration: none;
  @include transition();
  color: $grey-light;
  text-decoration: underline;

  // &:visited {
  //   color: $green-lightest;
  // }
  &:hover {
    color: $textColor;
  }
}



// Icons
//----------------
$font-path: "/fonts" !default;

$icon-phone: "\f095";
$icon-octocat: "\f09b";
$icon-html: "\f13b";
$icon-css: "\f13c";
$icon-paper-plane: "\f1d8";
$icon-instagram: "\e900";
$icon-twitter: "\e901";
$icon-linkedin2: "\e902";
$icon-git: "\e903";
$icon-codepen: "\e904";


@font-face {
  font-family: 'joe-icons';
  src:
    url('#{$font-path}/joe-icons.ttf?748ojo') format('truetype'),
    url('#{$font-path}/joe-icons.woff?748ojo') format('woff'),
    url('#{$font-path}/joe-icons.svg?748ojo#joe-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], 
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'joe-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-octocat {
  &:before {
    content: $icon-octocat;
  }
}
.icon-html {
  &:before {
    content: $icon-html;
  }
}
.icon-css {
  &:before {
    content: $icon-css;
  }
}
.icon-paper-plane {
  &:before {
    content: $icon-paper-plane;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-linkedin2 {
  &:before {
    content: $icon-linkedin2;
  }
}
.icon-git {
  &:before {
    content: $icon-git;
  }
}
.icon-codepen {
  &:before {
    content: $icon-codepen;
  }
}