
// Variables
//============================

//// COLORS ////
//--------------
$black:		    #000;
$grey:        #223322;
$grey-light:	#8A8A8A;
$offWhite: 		#FAFAFA;
$white:       #fff;

// Palette
$green:       #03DF8A;
$green-light:   #07F1BF;
// $blue:        #3993DD;
// $purple:      #7D83FF;
$orange:      #FB5012;


// Assignments
$textColor:     $grey;
$border-color:  $white;
$box-shadow: 0 2px 34px -6px $black;



//// BREAKPOINTS ////
//-------------------
$mobile:    768px;
$tablet:    1024px;
$desktop:   1200px;



//// LAYOUT ////
//-------------------
$container:   800px;
$container-lg:  1240px;


//// OTHER ////
//-------------
$curve1: cubic-bezier(.22,.07,.23,.99);
$curve2: cubic-bezier(.97,.05,.7,.96);
$curve3: cubic-bezier(.21,.05,.07,.99);



//// MIXINS ////
//--------------
@mixin transition($time: 0.5s, $delay: 0s, $timing: $curve1) {
  -webkit-transition: all $time $delay $timing;
  transition: all $time $delay $timing;
}
@mixin transform($props) {
  -ms-transform: $props;
  -webkit-transform: $props;
  transform: $props;
}
@mixin centerMe() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Animations
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation($name, $duration, $timing: $curve1, $delay: 0s, $iterations: 1, $direction: normal,  $fill-mode: forwards) {

  -webkit-animation: $name $duration $timing $delay $iterations $direction $fill-mode;
  animation: $name $duration $timing $delay $iterations $direction $fill-mode;

}



//// KEYFRAMES ////
//------------------

@include keyframes(shootingOne) {
  100% {
    top: 115%;
  }
}