#section-work {
  left: 0;
  top: 100%;
  background-color: $color4;
  color: $color3;

  &.focus {
    top: 0;
  }

  .back-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color3;
    @include transition(0.5s);
    cursor: pointer;

    h3 {
      margin: 0;
      color: $color4;
    }

    @media (min-width: $mobile) {
      &:hover {
        background-color: $lightGrey;
      }
    }
  }

  .section-body {
    padding-top: 80px;
  }

  .work-item {
    padding: 30px;
    background-color: $color3;
    color: $color4;
    margin-bottom: 2px;
    @include transition(0.5s);
    cursor: pointer;

    h2,
    h4 {
      margin: 0;
    }
    h4,
    h3 {
      display: inline-block;
      padding: 0 20px 4px;
      margin-bottom: 3px;
      border-bottom: 1px solid $color4;
    }

    @media (min-width: $mobile) {
      &:hover { 
        background-color: $color2;
      }
    }
  }

  .work-container {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    @include transition(1s, 0s, $curve3);
    background-color: $color3;
    color: $color4;

    &.show {
      top: 0;
    }

    .work-item-details {
      width: 100%;
      max-width: $container;
      height: 100%;
      margin: 0 auto;
      padding: 50px 30px;
    }
  }
}